<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@2"></script>
    <title>Matador de monstro</title>
</head>
<body>
    <div id="app">
        <div id="tela" class="panel">
            <div id="jogador">
                <span>Jogador</span>
                <div id="barra-progresso-j"><div class="barra-j" :class="{danger: vidaJogador < 20}" :style="{width: vidaJogador + '%'}"></div></div>
                {{ vidaJogador }}%
            </div>
            <div id="monstro">
                <span>Monstro</span>
                <div id="barra-progresso-m"><div class="barra-m" :class="{danger: vidaMonstro < 20}" :style="{width: vidaMonstro + '%'}"></div></div>
                {{ vidaMonstro }}%
            </div>
        </div>
        <div id="resultado" class="panel" v-if="finalizou">
            <span v-if="ganhou" :style="{color: green}">Você ganhou! :)</span>
            <span v-else :style="{color: red}">Você perdeu :(</span> 
        </div>
        <div id="botoes" class="panel">
            <button id="iniciar" @click="iniciar = !iniciar" v-show="!iniciar">INICIAR NOVO JOGO</button>
            <div id="botoesEscondidos" v-show="iniciar">
                <button id="atacar" @click="ataque">ATAQUE</button>
                <button id="ataqueEspecial" @click="ataqueEspecial">ATAQUE ESPECIAL</button>
                <button id="curar" @click="curar">CURAR</button>
                <button id="desistir" @click="iniciar = !iniciar">DESISTIR</button>
            </div>
        </div>
        <div id="lista" class="panel"> 
            lista dos logs
        </div>
    </div>
</body>

<script src="script.js"></script>
</html>