body{
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
#app{
    display: flex;
    flex-direction: column;
}
.panel{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
    margin: 10px;
    padding: 30px;
}
#tela{
    display: flex;
    justify-content: space-around;
}
#barra-progresso-j, #barra-progresso-m{
    border: 1px solid black;
    height: 25px;
    width: 500px;
    margin-top: 10px;
}
.barra-j, .barra-m{
    height: 100%;
    background-color: rgb(3, 184, 3);
}
.danger{
    background-color: #ff0000;
}
#jogador span, #monstro span{
    font-size: 32px;
}
#botoes div{
    align-items: center;
}
#iniciar{
    font-size: 18px;
    color: white;
    background-color: rgb(70, 70, 228);
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    left: 40%;
    top: 20%;
}
#iniciar:hover{
    background-color: rgb(44, 44, 185);
}
#botoesEscondidos button{
    font-size: 14px;
    line-height: bold;
    margin: 5px 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 45px;
    cursor: pointer;
}
#atacar{
    color: #fff;
    background-color: #ff0000;
}
#atacar:hover{
    background-color: #bd0000;
}
#ataqueEspecial{
    color: #000;
    background-color: rgb(255, 123, 0);
}
#ataqueEspecial:hover{
    background-color: rgb(199, 96, 0);
}
#curar{
    color: #fff;
    background-color: #01ad01;
}
#curar:hover{
    background-color: rgb(0, 138, 0);
}
#desistir{
    color: #000;
    background-color: rgb(201, 201, 201);
}
#desistir:hover{
    background-color: rgb(155, 155, 155);
}
#resultado{
    font-size: 32px;
    line-height: bold
}
#lista ul{
    list-style: none;
}
#lista ul li{
    margin: 10px 0px;
    padding: 3px 0px;
    line-height: bold;
    font-size: 24px;
    border-radius: 3px;
}
.player{
    background-color: #5454c0;
    color: #fff;
}
.monster{
    background-color: #d62b2b;
    color: #fff;
}